/* CSS cho điện thoại di động 400x703*/
@media screen and (max-width: 600px) {
    /* Đặt các thuộc tính CSS dành cho điện thoại di động ở đây */
    table.header{
        height: 10%;
    }
    table.header td {
        font-size: 12px;
    }
    table.header .logo {
        max-height: 10vh;
    }
    .user-box {
        border-radius: 20px;
        border: none;
        width: 5rem;
        height: 1rem;
        background-color:#b5b5b5;
        position: relative;
    }
    .name {
        font-size: 10px;
        color: #000;
        position: relative;
        top: 10%;
        right: 14%;
    }
    .avt-user {
        width: 15px;
        border-radius: 100%;
        position: relative;
        left: 47%;
        bottom: 160%
    }
    .user-box:hover{
        background-color: #979797;
    }
    .menu {
        width: 20%;
        height: 95%;
        position: absolute;
        top: 10%;
        font-size: 3vw;
    }
    .mucluc{
        font-size: 0.5rem;
    }
    .value{
        font-size: 0.5rem;
    }
    .value.active {
        background-color: #ffffff;
        border: none;
        padding: 1rem;
        color: #00BF63;
        text-align: center;
        font-weight: bold;
        font-family: Arial;
        font-size: 0.5rem;
        border-radius: 5px;
    }
    .value:hover {
        background-color: #ffffff;
        color: #00BF63;
        border-radius: 5px;
    }
    .background {
        width: 80%;
        height: 83%;
        position: absolute;
        top: 10%;
        left: 20%;
    }
    
    /*Thuộc tính Nhiệt độ*/
    .data_nhietdo{
        background-color: #e17979;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .content_nhietdo{
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        font-size: 0.9rem;
        text-align: left;
    }
    .value_nhietdo{
        color:#03030a;
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: left;
    }
    /*Thuộc tính Độ ẩm*/
    .data_doam{
        background-color: #79a6e1;
        position: absolute;
        top: 90%;
        left: 10%;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
    }
    .content_doam{
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        font-size: 0.9rem;
        text-align: left;
    }
    .value_doam{
        color:#03030a;
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: left;
    }
    /*Thuộc tính Độ ẩm đất*/
    .data_doamdat{
        background-color: #8f764e;
        position: absolute;
        left: 170%;
        top: 10%;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
    }
    .content_doamdat{
        padding-left: 0.5rem;
        padding-top: 0.5rem;
        font-size: 0.9rem;
        text-align: left;
    }
    .value_doamdat{
        color:#03030a;
        font-size: 1.8rem;
        line-height: 2rem;
        text-align: left;
    }
    /*Thuộc tính bật tắt Máy bơm*/
    .maybom{
        background-color: #79a6e1;
        position: absolute;
        top: 170%;
        left: 10%;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
    }
    .content_maybom{
        position: absolute;
        top: 35%;
        left: 5%;
        font-size: 1rem;
        font-weight: bold;
    }
    /*On-Off*/
    .switch_maybom {
        --circle-dim: 1em;
        font-size: 17px;
        position: absolute;
        right: 4%;
        bottom: 1.2rem;
        width: 3.1em;
        height: 1.5em;
    }
    /* Hide default HTML checkbox */
    .switch_maybom input {
        opacity: 0;
        width: 0;
        height: 0;
    } 
    /* The slider */
    .slider_maybom {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f5aeae;
        transition: .4s;
        border-radius: 30px;
    } 
    .slider-card_maybom {
        position: absolute;
        content: "";
        height: var(--circle-dim);
        width: var(--circle-dim);
        border-radius: 20px;
        left: 0.3em;
        bottom: 0.3em;
        transition: .4s;
        pointer-events: none;
      }
      
    .slider-card-face_maybom {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        perspective: 1000px;
        border-radius: 50%;
        transition: .4s transform;
    } 
    .slider-card-front_maybom {
        background-color: #DC3535;
    }  
    .slider-card-back_maybom {
        background-color: #379237;
        transform: rotateY(180deg);
    } 
    input:checked ~ .slider-card_maybom .slider-card-back_maybom {
        transform: rotateY(0);
    }  
    input:checked ~ .slider-card_maybom .slider-card-front_maybom {
        transform: rotateY(-180deg);
    }
    input:checked ~ .slider-card_maybom {
        transform: translateX(1.5em);
    } 
    input:checked ~ .slider_maybom {
        background-color: #9ed99c;
    }
    
    /*Thuộc tính Quạt gió*/
    .quatgio{
        background-color: #79a6e1;
        position: absolute;
        top: 170%;
        left: 170%;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
    }
    .content_quatgio{
        position: absolute;
        top: 35%;
        left: 5%;
        font-size: 1rem;
        font-weight: bold;
    }
    /*On-Off*/
    .switch_quatgio {
        --circle-dim: 1em;
        font-size: 17px;
        position: absolute;
        right: 4%;
        bottom: 1.2rem;
        width: 3.1em;
        height: 1.5em;
    } 
    /* Hide default HTML checkbox */
    .switch_quatgio input {
        opacity: 0;
        width: 0;
        height: 0;
    } 
    /* The slider */
    .slider_quatgio {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f5aeae;
        transition: .4s;
        border-radius: 30px;
    } 
    .slider-card_quatgio {
        position: absolute;
        content: "";
        height: var(--circle-dim);
        width: var(--circle-dim);
        border-radius: 20px;
        left: 0.3em;
        bottom: 0.3em;
        transition: .4s;
        pointer-events: none;
      }
      
    .slider-card-face_quatgio {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        perspective: 1000px;
        border-radius: 50%;
        transition: .4s transform;
    } 
    .slider-card-front_quatgio {
        background-color: #DC3535;
    }  
    .slider-card-back_quatgio {
        background-color: #379237;
        transform: rotateY(180deg);
    } 
    input:checked ~ .slider-card_quatgio .slider-card-back_quatgio {
        transform: rotateY(0);
    }  
    input:checked ~ .slider-card_quatgio .slider-card-front_quatgio {
        transform: rotateY(-180deg);
    }
    input:checked ~ .slider-card_quatgio {
        transform: translateX(1.5em);
    } 
    input:checked ~ .slider_quatgio {
        background-color: #9ed99c;
    }
    /*Thuộc tính LED 1*/
    .led1{
        background-color: #79a6e1;
        position: absolute;
        top: 250%;
        left: 10%;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
    }
    .content_led1{
        position: absolute;
        top: 35%;
        left: 5%;
        font-size: 1rem;
        font-weight: bold;
    }
    /*On-Off*/
    .switch_led1 {
        --circle-dim: 1em;
        font-size: 17px;
        position: absolute;
        right: 4%;
        bottom: 1.2rem;
        width: 3.1em;
        height: 1.5em;
    } 
    /* Hide default HTML checkbox */
    .switch_led1 input {
        opacity: 0;
        width: 0;
        height: 0;
    } 
    /* The slider */
    .slider_led1 {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f5aeae;
        transition: .4s;
        border-radius: 30px;
    } 
    .slider-card_led1 {
        position: absolute;
        content: "";
        height: var(--circle-dim);
        width: var(--circle-dim);
        border-radius: 20px;
        left: 0.3em;
        bottom: 0.3em;
        transition: .4s;
        pointer-events: none;
      }
      
    .slider-card-face_led1 {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        perspective: 1000px;
        border-radius: 50%;
        transition: .4s transform;
    } 
    .slider-card-front_led1 {
        background-color: #DC3535;
    }  
    .slider-card-back_led1 {
        background-color: #379237;
        transform: rotateY(180deg);
    } 
    input:checked ~ .slider-card_led1 .slider-card-back_led1 {
        transform: rotateY(0);
    }  
    input:checked ~ .slider-card_led1 .slider-card-front_led1 {
        transform: rotateY(-180deg);
    }
    input:checked ~ .slider-card_led1 {
        transform: translateX(1.5em);
    } 
    input:checked ~ .slider_led1 {
        background-color: #9ed99c;
    }
    /*Thuộc tính LED 2*/
    .led2{
        background-color: #79a6e1;
        position: absolute;
        top: 250%;
        left: 170%;
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
    }
    .content_led2{
        position: absolute;
        top: 35%;
        left: 5%;
        font-size: 1rem;
        font-weight: bold;
    }
    /*On-Off*/
    .switch_led2 {
        --circle-dim: 1em;
        font-size: 17px;
        position: absolute;
        right: 4%;
        bottom: 1.2rem;
        width: 3.1em;
        height: 1.5em;
    } 
    /* Hide default HTML checkbox */
    .switch_led2 input {
        opacity: 0;
        width: 0;
        height: 0;
    } 
    /* The slider */
    .slider_led2 {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f5aeae;
        transition: .4s;
        border-radius: 30px;
    } 
    .slider-card_led2 {
        position: absolute;
        content: "";
        height: var(--circle-dim);
        width: var(--circle-dim);
        border-radius: 20px;
        left: 0.3em;
        bottom: 0.3em;
        transition: .4s;
        pointer-events: none;
      }
      
    .slider-card-face_led2 {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        perspective: 1000px;
        border-radius: 50%;
        transition: .4s transform;
    } 
    .slider-card-front_led2 {
        background-color: #DC3535;
    }  
    .slider-card-back_led2 {
        background-color: #379237;
        transform: rotateY(180deg);
    } 
    input:checked ~ .slider-card_led2 .slider-card-back_led2 {
        transform: rotateY(0);
    }  
    input:checked ~ .slider-card_led2 .slider-card-front_led2 {
        transform: rotateY(-180deg);
    }
    input:checked ~ .slider-card_led2 {
        transform: translateX(1.5em);
    } 
    input:checked ~ .slider_led2 {
        background-color: #9ed99c;
    }
    /*Button xem video trực tiếp*/
    .button_video {
        background: #ff0000;
        color: white;
        padding-right: 20%;
        font-size: 0.6rem;
        border-radius: 0.5em;
        border: none;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: absolute;
        top: 470%;
        left: 210%;
        height: 2em;
    }
    .button_video_content{
        font-size: 0.7rem;
        width: 5rem;
    }
    .button_video .icon {
        background: white;
        margin-left: 1em;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        width: 1.5em;
        border-radius: 0.5em;
        right: 0.3em;
        transition: all 0.3s;
        text-decoration: none;
    } 
    .fa-video{
        background: #ffffff;
        color: #000000;
    }
    .button_video:hover .icon {
        width: calc(100% - 0.6em);
    }  
    .button_video .icon svg {
        width: 1.1em;
        transition: transform 0.3s;
        color: #ff0000;
    }  
    .button_video:hover .icon svg {
        transform: translateX(0.1em);
    }  
    .button_video:active .icon {
        transform: scale(0.95);
    }
    .table-container {
        width: 17rem;
    }
    .device-table {
        width: 100%;
        border-collapse: collapse;
    }
    .device-table td {
        font-size: 0.5rem;
        padding: 0.6rem;
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
    }
    .anh{
        width: 4rem;
        height: 3.75rem;
    }
    /*Tài khoản*/
    .login-back {
        width: 225px;
        position: absolute;
        top: 150%;
        left: 50%;
    }
    .login {       
        padding: 10px 24px 10px;
        gap: 5px;
    } 
    .title-login {
        font-size: 1rem;
    }
    .subtitle-login {
        font-size: 0.8rem;
    } 
    #eye i {
        position: absolute;
        top: 60%;
        right: 14%;
    }

    /*Footer*/
    footer {
        background-color: #d9d9d9;
        font-family: Arial;
        width: 100%;
        height: 20%;
        border-top: 1px solid #000;
        position: absolute;
        top: 95%;
    }
    .infor {
        flex: 1;
        padding: 0 6px;
        width: 40%;
        position: absolute;
        top: 5%;
        font-size: 10px;
    }
    .sinhvien {
        flex: 1;
        width: 20%;
        padding: 0 20px;
        position: absolute;
        left: 38%;
        top: 5%;
        font-size: 10px;
    }
    .more {
        flex: 1;
        padding: 0 15px;
        position: absolute;
        right: 0%;
        top: 5%;
        font-size: 10px;
    }
}
