/* CSS chung cho tất cả các thiết bị */
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

/* Thiết lập bảng header */
table.header {
    width: 100%;
    height: 12vh; /* Sử dụng đơn vị tương đối */
    border-collapse: collapse;
}

/* Động cơ chia đều hai bên */
table.header td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    font-size: 22px;
}

/* Định dạng vùng hình ảnh logo */
table.header .logo {
    max-width: 100%;
    max-height: 10vh; /* Sử dụng đơn vị tương đối */
    display: block;
    margin: 0 auto;
    width: auto; /* Thay đổi kích thước tùy theo nội dung */
    height: auto; /* Thay đổi kích thước tùy theo nội dung */
}
.user-box {
    border-radius: 20px;
    border: none;
    width: 8rem;
    height: 2.1rem;
    background-color:#b5b5b5;
    position: relative;
}
.name {
    font-size: 1rem;
    position: relative;
    top: 24%;
    right: 14%;
}
.avt-user {
    width: 30px;
    border-radius: 100%;
    position: relative;
    left: 40%;
    bottom: 56%;
    /*left: 37%;
    top: 5%;*/
}
.user-box:hover{
    background-color: #979797;
}

/* Thuộc tính menu */
.menu {
    display: flex;
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 15vw; /* Sử dụng đơn vị tương đối */
    height: 100%;
    background-color: #00BF63;
    font-family: Arial;
    font-size: 2vw; /* Sử dụng đơn vị tương đối */
}
.mucluc{
    font-weight: bold;
    text-align:center;
    color:white;
    padding: 1rem;
    border-bottom-style: solid;
    font-size: 1.3rem;
}
.value {
    background-color: #00BF63;
    border: none;
    padding: 1rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 1rem;
}
.value.active {
    background-color: #ffffff;
    /* Màu trắng khi nút có lớp 'active' */
    border: none;
    padding: 1rem;
    color: #00BF63;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 1rem;
    border-radius: 5px;
}
.value:hover {
    background-color: #ffffff;
    color: #00BF63;
    border-radius: 5px;
}
/*Nền hiển thị nội dung của menu*/
.background {
    background-color: white;
    position: relative;
    left: 15%;
    height: 88.5%;
    width: 85%;
    overflow: auto;
}
.content{
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
    width: 100px; 
}
/*Thuộc tính nội dung Giám sát*/
/*Thuộc tính Nhiệt độ*/
.data_nhietdo{
    background-color: #e17979;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_nhietdo{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.25rem;
    text-align: left;
}
.value_nhietdo{
    color:#03030a;
    font-size: 1.9rem;
    line-height: 2.7rem;
    text-align: left;
}
/*Thuộc tính Độ ẩm*/
.data_doam{
    background-color: #79a6e1;
    position: absolute;
    top: 6rem;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_doam{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.25rem;
    text-align: left;
}
.value_doam{
    color:#03030a;
    font-size: 1.9rem;
    line-height: 2.7rem;
    text-align: left;
}
/*Thuộc tính Độ ẩm đất*/
.data_doamdat{
    background-color: #8f764e;
    position: absolute;
    left: 13rem;
    top: 0;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_doamdat{
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    font-size: 1.25rem;
    text-align: left;
}
.value_doamdat{
    color:#03030a;
    font-size: 1.9rem;
    line-height: 2.7rem;
    text-align: left;
}
/*Thuộc tính bật tắt Máy bơm*/
.maybom{
    background-color: #79a6e1;
    position: absolute;
    top: 12rem;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_maybom{
    position: absolute;
    top: 33%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
/*On-Off*/
.switch_maybom {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: absolute;
    right: 16px;
    bottom: 23px;
    width: 3.5em;
    height: 2em;
} 
/* Hide default HTML checkbox */
.switch_maybom input {
    opacity: 0;
    width: 0;
    height: 0;
} 
/* The slider */
.slider_maybom {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
} 
.slider-card_maybom {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
.slider-card-face_maybom {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
} 
.slider-card-front_maybom {
    background-color: #DC3535;
}  
.slider-card-back_maybom {
    background-color: #379237;
    transform: rotateY(180deg);
} 
input:checked ~ .slider-card_maybom .slider-card-back_maybom {
    transform: rotateY(0);
}  
input:checked ~ .slider-card_maybom .slider-card-front_maybom {
    transform: rotateY(-180deg);
}
input:checked ~ .slider-card_maybom {
    transform: translateX(1.5em);
} 
input:checked ~ .slider_maybom {
    background-color: #9ed99c;
}

/*Thuộc tính Quạt gió*/
.quatgio{
    background-color: #79a6e1;
    position: absolute;
    top: 12rem;
    left: 13rem;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_quatgio{
    position: absolute;
    top: 33%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
/*On-Off*/
.switch_quatgio {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: absolute;
    right: 16px;
    bottom: 23px;
    width: 3.5em;
    height: 2em;
} 
/* Hide default HTML checkbox */
.switch_quatgio input {
    opacity: 0;
    width: 0;
    height: 0;
} 
/* The slider */
.slider_quatgio {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
} 
.slider-card_quatgio {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
.slider-card-face_quatgio {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
} 
.slider-card-front_quatgio {
    background-color: #DC3535;
}  
.slider-card-back_quatgio {
    background-color: #379237;
    transform: rotateY(180deg);
} 
input:checked ~ .slider-card_quatgio .slider-card-back_quatgio {
    transform: rotateY(0);
}  
input:checked ~ .slider-card_quatgio .slider-card-front_quatgio {
    transform: rotateY(-180deg);
}
input:checked ~ .slider-card_quatgio {
    transform: translateX(1.5em);
} 
input:checked ~ .slider_quatgio {
    background-color: #9ed99c;
}
/*Thuộc tính LED 1*/
.led1{
    background-color: #79a6e1;
    position: absolute;
    top: 18rem;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_led1{
    position: absolute;
    top: 33%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
/*On-Off*/
.switch_led1 {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: absolute;
    right: 16px;
    bottom: 23px;
    width: 3.5em;
    height: 2em;
} 
/* Hide default HTML checkbox */
.switch_led1 input {
    opacity: 0;
    width: 0;
    height: 0;
} 
/* The slider */
.slider_led1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
} 
.slider-card_led1 {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
.slider-card-face_led1 {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
} 
.slider-card-front_led1 {
    background-color: #DC3535;
}  
.slider-card-back_led1 {
    background-color: #379237;
    transform: rotateY(180deg);
} 
input:checked ~ .slider-card_led1 .slider-card-back_led1 {
    transform: rotateY(0);
}  
input:checked ~ .slider-card_led1 .slider-card-front_led1 {
    transform: rotateY(-180deg);
}
input:checked ~ .slider-card_led1 {
    transform: translateX(1.5em);
} 
input:checked ~ .slider_led1 {
    background-color: #9ed99c;
}
/*Thuộc tính LED 2*/
.led2{
    background-color: #79a6e1;
    position: absolute;
    top: 18rem;
    left: 13rem;
    width: 12.5rem;
    height: 5.1rem;
    border-radius: 10px;
}
.content_led2{
    position: absolute;
    top: 33%;
    left: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}
/*On-Off*/
.switch_led2 {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: absolute;
    right: 16px;
    bottom: 23px;
    width: 3.5em;
    height: 2em;
} 
/* Hide default HTML checkbox */
.switch_led2 input {
    opacity: 0;
    width: 0;
    height: 0;
} 
/* The slider */
.slider_led2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5aeae;
    transition: .4s;
    border-radius: 30px;
} 
.slider-card_led2 {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: .4s;
    pointer-events: none;
  }
  
.slider-card-face_led2 {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: .4s transform;
} 
.slider-card-front_led2 {
    background-color: #DC3535;
}  
.slider-card-back_led2 {
    background-color: #379237;
    transform: rotateY(180deg);
} 
input:checked ~ .slider-card_led2 .slider-card-back_led2 {
    transform: rotateY(0);
}  
input:checked ~ .slider-card_led2 .slider-card-front_led2 {
    transform: rotateY(-180deg);
}
input:checked ~ .slider-card_led2 {
    transform: translateX(1.5em);
} 
input:checked ~ .slider_led2 {
    background-color: #9ed99c;
}
/*Biểu đồ chung*/
.linechart {
    background-color: #f0f0f0;
    width: 835px;
    height: 423px;
    position: relative;
    bottom: 80%;
    left: 420%;    
}
.text-chart {
    position: relative;
    top: 66%;
    left: 45%;
    font-size: 1.3rem;
}
/*Button xem video trực tiếp*/
.button_video {
    background: #ff0000;
    color: white;
    padding-left: 10px;
    padding-right: 50px;
    font-size: 17px;
    border-radius: 0.9em;
    border: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    top: 550px;
    left: 1090px;
    height: 2.8em;
}
.button_video_content{
    font-size: 18px;
    width: 110px;
}
.button_video .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
    text-decoration: none;
} 
.fa-video{
    background: #ffffff;
    color: #000000;
}
.button_video:hover .icon {
    width: calc(100% - 0.6em);
}  
.button_video .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #ff0000;
}  
.button_video:hover .icon svg {
    transform: translateX(0.1em);
}  
.button_video:active .icon {
    transform: scale(0.95);
} 

/*Thuộc tính phân tích*/
.dateRange {
    width: 180px;
    font-size: 1.2rem;
    position: absolute;
    top: 350%;
    left: 700%;
}
#dateRange {
    width: 70px;
    height: 25px;
    border-radius: 10px;
    font-size: 1rem;
    border: solid 1px;
    position: absolute;
    top: 350%;
    left: 900%;
}
.data-chart {
    width: 620px;
}
#NhietDo, #DoAmDat {
    position: absolute;
    top: -10%;
}
#DoAmDat {
    left: 630%;
}
#DoAmKK {
    position: absolute;
    top: 295%;
}

/*Thuộc tính nội dung Dữ liệu*/
.timkiem-back {
    width: 1200px;
    height: 100px;
    border: solid 1px;
    position: relative;
    top: 10%;
    left: 35%;
}
.h1-timkiem {
    position: absolute;
    bottom: 65%;
    padding: 10px;
}
.fa-calendar {
    border-radius: 100%;
    position: relative;
    top: 37%;
    right: 0.3%;
}
#searchThoiGian,#searchNhietDo,#searchDoAm,#searchDoAmDat {
    width: 200px;
    height: 30px;
    border: solid 1.6px;
    border-radius: 10px;
    padding-left: 5px;
    position: relative;
    top: 35%;
    left: 2%;
}
#searchNhietDo {
    left: 11%;
}
#searchDoAm {
    left: 21%;
}
#searchDoAmDat {
    left: 30%;
}
#searchButton {
    border-radius: 10px;
    border: none;
    width: 75px;
    height: 25px;
    position: relative;
    top: 68%;
    left: 23.4%;
    background-color: #00BF63;
}
#searchButton:hover {
    background-color: #009b50;
}
.data-back {
    border: solid 1px;
    width: 1200px;
    height: 400px;
    overflow: auto;
    position: relative;
    top: 70%;
    left: 35%;
}
.data-table {
    width: 100%;
    border-collapse: collapse; /* Để loại bỏ khoảng cách giữa ô */
    position: relative;
}
.data-table td {
    text-align: center; /* Căn giữa nội dung trong ô */
    padding: 5px; /* Khoảng cách giữa nội dung và biên của ô */
    border: 1px solid #000; /* Đường viền cho ô */
}
.hide-row {
    display: none;
}

/*Thuộc tính nội dung Thiết bị*/
.table-container {
    padding-top: 20%; /* Để tạo khoảng cách giữa bảng và phần nền */
    padding-left: 30%;
    width: 1200px;
}
.device-table {
    width: 100%;
    border-collapse: collapse; /* Để loại bỏ khoảng cách giữa ô */
}
.device-table td {
    text-align: center; /* Căn giữa nội dung trong ô */
    padding: 10px; /* Khoảng cách giữa nội dung và biên của ô */
    border: 1px solid #000; /* Đường viền cho ô */
}
.anh{
    width: 8rem;
    height: 7.5rem;
}

/*Tài khoản*/
.login-back {
    width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
    position: absolute;
    top: 150%;
    left: 450%;
} 
.login {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
} 
/*login text*/
.title-login {
    font-weight: bold;
    font-size: 1.6rem;
}
.subtitle-login {
    font-size: 1rem;
    color: #666;
} 
/*Inputs box*/
.login-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}
.input-login-user,
.input-login-password {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}
.login-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}
.login-section a {
    font-weight: bold;
    color: #00BF63;
    transition: color .3s ease;
}
.login-section a:hover {
    color: #00BF63;
    text-decoration: underline;
}
#eye i {
    position: absolute;
    top: 63%;
    right: 10%;
    color: #969696;
}
/*Button*/
.button-login {
    background-color: #00BF63;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}
.button-login:hover {
    background-color: #009b50;
}
#infor-taikhoan {
    width: 80rem;
    font-size: 1.5rem;
}
.button-logout {
    background-color: #00BF63;
    color: #fff;
    width: 100px;
    border: 0;
    border-radius: 24px;
    padding: 10px 8px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color .3s ease;
    position: absolute;
    top: 560%;
    left: 1160%;
}
.button-logout:hover {
    background-color: #009b50;
}
  
/*Thuộc tính footer */
footer {
    background-color: #d9d9d9;
    font-family: Arial;
    width: 100%;
    height: 17%;
    border-top: 1px solid #000;
    position: absolute;
    top: 100%;   
}
/* Định dạng cho cột thông tin */
.infor {
    flex: 1; /* Mở rộng để đầy kín container */
    padding: 0 20px; /* Khoảng cách lề bên trong cột */
    position: absolute;
    top:5%;
}
/* Định dạng cho cột sinh viên */
.sinhvien {
    flex: 1; /* Mở rộng để đầy kín container */
    padding: 0 20px; /* Khoảng cách lề bên trong cột */
    position: absolute;
    left: 45%;
    top:5%;
}
/* Định dạng cho cột tài liệu tham khảo */
.more {
    flex: 1; /* Mở rộng để đầy kín container */
    padding: 0 20px; /* Khoảng cách lề bên trong cột */
    position: absolute;
    right: 2%;
    top:5%;
}
.more a {
    text-decoration: none; /* Loại bỏ gạch chân ở liên kết */
    color: #333; /* Màu chữ */
    transition: color 0.3s; /* Hiệu ứng màu khi hover chuột */
}
.more a:hover {
    color: #007bff; /* Màu chữ khi hover chuột */
}
